In [1]:
import pandas as pd
df = pd.read_csv("/Users/suso/BootcampDA/MiniProject/data_mid_bootcamp_project_FIFA_MoneyBall/fifa21_male2.csv")

/var/folders/5y/_5l3y2p900scjg2bd7r52_lh0000gn/T/ipykernel_6471/4033839146.py:2: DtypeWarning: Columns (78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/suso/BootcampDA/MiniProject/data_mid_bootcamp_project_FIFA_MoneyBall/fifa21_male2.csv")

In [2]:
df.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male

In [3]:
# I start dropping insignificant columns, such as those which tell the overall a player can have when playing a different position.
df.drop(['Player Photo', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK'], axis=1, inplace=True)

In [4]:
df.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Club Logo,...,CAM,RAM,LM,LCM,CM,RCM,RM,LWB,LDM,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/teams/55/light_60.png,...,68+0,68+0,69+0,69+0,69+0,69+0,69+0,71+-2,70+-1,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/teams/2013/light_60.png,...,70+1,70+1,68+1,70+1,70+1,70+1,68+1,62+1,66+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/teams/1800/light_60.png,...,71+0,71+0,68+0,66+0,66+0,66+0,68+0,52+0,54+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/teams/106/light_60.png,...,70+0,70+0,66+0,68+0,68+0,68+0,66+0,56+0,65+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/teams/101146/light_60.png,...,82+-1,82+-1,79+2,81+0,81+0,81+0,79+2,70+3,73+3,Male

In [6]:
df.drop(['Club Logo', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM'], axis=1, inplace=True)

In [7]:
df.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Flag Photo,...,LS,ST,RS,LW,LF,CF,RF,RW,LAM,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/flags/it.png,...,65+0,65+0,65+0,68+0,67+0,67+0,67+0,68+0,68+0,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/flags/es.png,...,67+1,67+1,67+1,67+0,68+0,68+0,68+0,67+0,70+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/flags/gb-eng.png,...,64+0,64+0,64+0,70+0,69+0,69+0,69+0,70+0,71+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/flags/tt.png,...,67+0,67+0,67+0,66+0,67+0,67+0,67+0,66+0,70+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/flags/es.png,...,72+3,72+3,72+3,79+0,79+0,79+0,79+0,79+0,82+-1,Male

In [8]:
df.drop(['Flag Photo', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM'], axis=1, inplace=True)

In [9]:
df.head()

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,POT,...,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,69,...,High,2 ★,71,59,70,71,68,69,4,Male
1,16,Luis García,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,71,...,Medium,1 ★,53,69,73,69,58,63,4,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,71,...,Low,2 ★,45,68,76,77,36,52,11,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,82,...,NaN,1 ★,61,66,66,69,47,60,3,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,81,...,Medium,4 ★,58,70,85,85,63,59,149,Male

In [10]:
df.columns

Index(['ID', 'Name', 'Age', 'OVA', 'Nationality', 'Club', 'BOV', 'BP',
       'Position', 'POT', 'Team & Contract', 'Height', 'Weight', 'foot',
       'Growth', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause',
       'Contract', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy',
       'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve',
       'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits', 'Gender'],
      dtype='object')

In [11]:
#In the following lines I drop columns describing the main stats (PAC, SHO, PAS, DRI, DEF, PHY). I will only leave this main stats columns.
df.drop(['Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy'], axis=1, inplace=True)

In [12]:
df.drop(['Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power'], axis=1, inplace=True)

In [13]:
df.columns

Index(['ID', 'Name', 'Age', 'OVA', 'Nationality', 'Club', 'BOV', 'BP',
       'Position', 'POT', 'Team & Contract', 'Height', 'Weight', 'foot',
       'Growth', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause',
       'Contract', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits', 'Gender'],
      dtype='object')

In [14]:
df.drop(['Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties'], axis=1, inplace=True)

In [15]:
df.drop(['Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes'], axis=1, inplace=True)

In [18]:
df.columns

Index(['ID', 'Name', 'Age', 'OVA', 'Nationality', 'Club', 'BOV', 'BP',
       'Position', 'POT', 'Team & Contract', 'Height', 'Weight', 'foot',
       'Growth', 'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause',
       'Contract', 'Goalkeeping', 'Total Stats', 'Base Stats', 'W/F', 'SM',
       'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'Hits',
       'Gender'],
      dtype='object')

In [19]:
df.drop(['W/F', 'SM', 'A/W', 'D/W', 'Hits', 'BOV', 'Goalkeeping'], axis=1, inplace=True)

In [20]:
df.columns

Index(['ID', 'Name', 'Age', 'OVA', 'Nationality', 'Club', 'BP', 'Position',
       'POT', 'Team & Contract', 'Height', 'Weight', 'foot', 'Growth',
       'Joined', 'Loan Date End', 'Value', 'Wage', 'Release Clause',
       'Contract', 'Total Stats', 'Base Stats', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Gender'],
      dtype='object')

In [21]:
df.head()

,ID,Name,Age,OVA,Nationality,Club,BP,Position,POT,Team & Contract,...,Total Stats,Base Stats,IR,PAC,SHO,PAS,DRI,DEF,PHY,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,LWB,LM,69,Udinese 2008 ~ 2016,...,1929,408,2 ★,71,59,70,71,68,69,Male
1,16,Luis García,37,71,Spain,KAS Eupen,CM,CM CAM CDM,71,KAS Eupen 2014 ~ 2019,...,1906,385,1 ★,53,69,73,69,58,63,Male
2,27,J. Cole,33,71,England,Coventry City,CAM,CAM RM RW LM,71,Coventry City 2016 ~ 2020,...,1770,354,2 ★,45,68,76,77,36,52,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,ST,NaN,82,Sunderland 2009,...,1348,369,1 ★,61,66,66,69,47,60,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,CAM,CM CAM,81,Vissel Kobe 2018 ~ 2021,...,2014,420,4 ★,58,70,85,85,63,59,Male

In [22]:
#I also drop column 'Team & Contract' because we have it in two other columns 'Club' and 'Contract'
df.drop(['Total Stats', 'Base Stats', 'IR', 'Team & Contract'], axis=1, inplace=True)

In [23]:
#The remaining 26 colums may be interesting for the data analysis
#We could get rid of ID (not necessary), Position (different positions a player can play), Loan Date End, Joined (already known in Contract)
df

,ID,Name,Age,OVA,Nationality,Club,BP,Position,POT,Height,...,Wage,Release Clause,Contract,PAC,SHO,PAS,DRI,DEF,PHY,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,LWB,LM,69,"6'0""",...,€7K,€0,2008 ~ 2016,71,59,70,71,68,69,Male
1,16,Luis García,37,71,Spain,KAS Eupen,CM,CM CAM CDM,71,"5'10""",...,€7K,€1.1M,2014 ~ 2019,53,69,73,69,58,63,Male
2,27,J. Cole,33,71,England,Coventry City,CAM,CAM RM RW LM,71,"5'9""",...,€15K,€0,2016 ~ 2020,45,68,76,77,36,52,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,ST,NaN,82,"5'11""",...,€0,€0,2009,61,66,66,69,47,60,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,CAM,CM CAM,81,"5'7""",...,€12K,€7.2M,2018 ~ 2021,58,70,85,85,63,59,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17120,259088,A. Medioub,22,64,France,CD Tondela,CB,CB,69,"6'6""",...,€2K,€0,"Jun 30, 2021 On Loan",54,30,37,48,64,69,Male
17121,259090,W. Rickard,18,56,Wales,Burnley,CAM,CAM CM,66,"5'10""",...,€3K,€273K,2020 ~ 2021,62,46,57,56,43,55,Male
17122,259091,C. Barrett,18,56,England,Burnley,RB,RB,67,"5'9""",...,€2K,€273K,2020 ~ 2022,63,35,44,52,54,55,Male
17123,259101,J. Gazibegović,20,62,Bosnia Herzegovina,SK Sturm Graz,RB,RB LB,73,"5'9""",...,€3K,€784K,2020 ~ 2023,71,34,58,59,59,54,Male
17124,259105,Pablo Rodríguez,18,59,Spain,Lecce,ST,ST,74,"5'10""",...,€2K,€788K,2020 ~ 2024,70,62,41,57,16,49,Male